<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCee0IQ0uktxUuaoTxEjYHcCJGADlREPaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>553625928363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boxcricket.boxCricket</string>
	<key>PROJECT_ID</key>
	<string>cricket-app-69f9c</string>
	<key>STORAGE_BUCKET</key>
	<string>cricket-app-69f9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553625928363:ios:aff2bd06a63a54e15aedee</string>
</dict>
</plist>